/* --- ESTILOS GENERALES --- */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }

body {
    background-color: #f0f0f0;
    height: 100vh; /* Ocupa toda la altura */
    display: flex;
    flex-direction: column;
}

/* --- CLASES DE DISTRIBUCIÓN (LAYOUT) --- */

/* Contenedor principal para cuando estás logueado */
.app-interface {
    display: flex;
    height: 100%;
}

/* 1. MENÚ LATERAL (IZQUIERDA) del dashboard */
.side-menu {
    width: 250px;
    background-color: #c95db7; /* Habria que poner el degradado de la foto */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    flex-shrink: 0; /* Que no se encoja */
}

.brand-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #ecf0f1;
}

/* Botones del menú */
.menu-btn {
    display: block;
    padding: 12px 15px;
    background-color: #d27df48a;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    text-align: center;
}

.menu-btn:hover {
    background-color: #e74c3c; /* Rojo al pasar el ratón */
}

}
.menu-btn.admin:hover {
    background-color: #e74c3c;
    color: white;
}

/* 2. PARTE DERECHA DE LA PANTALLA: Pokedex */
.main-viewport {
    flex-grow: 1; /* Ocupa el resto del espacio */
    padding: 30px;
    overflow-y: auto; /* Si hay muchos pokemon, hace scroll solo aquí */
    background-color: #ecf0f1;
}

.view-header {
    margin-bottom: 20px;
    border-bottom: 2px solid #bdc3c7;
    padding-bottom: 10px;
}

/* Grid para los pokemons, el que sea responsable que lo haga como quiera */
.sprite-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
}
.pokemon-placeholder {
    height: 100px;
    background-color: #bdc3c7; /* Gris temporal */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f8c8d;
}

/* --- ESTILOS LOGIN --- */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
}
.login-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}