{% extends "base.html" %}

{% block title %}ChatBot{% endblock %}

{% block page_class %}bg-chatbot{% endblock %}

{% block content %}

<div class="chat-container">
    <div class="chat-header">
        <div class="bot-info">
            <div class="bot-avatar">
                <img src="{{ url_for('static', filename='img/iconos/simbolo_ChatBot.png') }}" alt="Bot">
            </div> 
            <div>
                <h3>SERVICE-BALL</h3>
            </div>
        </div>
    </div>

    <div class="chat-messages" id="chatMessages">
        </div>

    <div class="chat-input-container">
        <input type="text" id="messageInput" placeholder="Escribe tu mensaje..." class="chat-input" />
        <button id="sendButton" class="send-button">Send ➤</button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/chatbot.js') }}?v=2"></script>

{% endblock %}