{% extends "base.html" %}


{% block content %}

<div class="chat-container">
    <div class="chat-header">
        <div class="bot-info">
            <div class="bot-avatar">foto</div> <div>
                <h3>Service-Ball</h3>
            </div>
        </div>
    </div>

    <div class="chat-messages" id="chatMessages">
        <!-- Vacio para que se pongan dinamicamente -->
    </div>

    <script>
    console.log("--- DEBUG DIRECTO DESDE HTML ---");
    const testDiv = document.getElementById('chatMessages');
    if (testDiv) {
        console.log("✅ ¡El DIV existe! El navegador lo ve.");
        console.log(testDiv);
    } else {
        console.error("❌ El DIV no existe en este punto exacto.");
    }
</script>

    <div class="chat-input-container">
        <input type="text"id="messageInput" placeholder="Escribe tu mensaje..." class="chat-input"
        />
        
        <button id="sendButton" class="send-button">
            Send ➤ </button>
    </div>
</div>

<script src="{{ url_for('static', filename='js/chatbot.js') }}?v=2"></script>
{% endblock %}