{% extends 'base.html' %}

{% block title %}Menú Principal{% endblock %}

{% block page_class %}bg-pokedex{% endblock %}

{% block content %}

    <div class="view-header" align="center" style="color: #ff9eb5">
        <h2>Menú Principal</h2>
        <p>Bienvenido, <b>{{ session.get('nickname', 'Entrenador') }}</b></p>
    </div>

    <div class="menu-central-container" align="center" style="display: flex; gap: 20px; flex-wrap: wrap; margin-top: 40px;">

        <div style="width: 100%; margin-top: 20px; color: black;">
            <p>👈 Usa el botón de las 3 rayitas arriba a la izquierda para ver todas las opciones.</p>
        </div>

    </div>

{% endblock %}